<!doctype html>
<html lang="en">

<head>
    {% block head %}

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


    {% endblock %}
</head>

<body>
    <header class="main-header">
		 <!-- / #logo-header -->
             <nav >
			    <ul>
			    	<li><a href="/index">beginning</a></li>
		    		<li><a href="#">information</a></li>
			    </ul>
		    </nav><!-- / nav -->
	</header>
            {% block content %}{% endblock %} 
        </div>
        </div>
{% block footer %}
<script src = " https://unpkg.com/sweetalert/dist/sweetalert.min.js "> </script> 
{% endblock %}
</body>

</html>